body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4d148c;
    color: white;
    padding: 10px 0;
}

.logo-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

.logo {
    height: 60px; 
    width: auto;
}

header h1 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    flex: 1; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 80px); 
}

/* Form Section */
#form-container {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#form-container label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

#form-container input,
#form-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form-container button {
    background-color: #4d148c;
    color: white;
    cursor: pointer;
}

#form-container button:hover {
    background-color: #4d148c;
}

#results {
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-height: 400px; 
    overflow-y: auto; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 15px;
    line-height: 1.8; 
    color: #333333; 
}

#results h3 {
    color: #000; 
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#results p {
    margin: 5px 0; 
}

#results ul {
    margin-top: 10px;
    padding-left: 20px;
}

#results ul li {
    margin-bottom: 5px; 
    font-size: 14px;
    color: #555; 
}

#results strong {
    color: #000; 
}

#map {
    height: 100%;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
}
